streamlit
python-dotenv
validators

# LangChain new versions (0.2.x)
langchain>=0.2.0
langchain-core>=0.2.0
langchain-community>=0.2.0
langchain-experimental

# Groq LLM
langchain-groq

# Text splitters and loaders
pypdf
pyMuPDF
bs4
lxml
unstructured

# Web sources
arxiv
wikipedia
duckduckgo_search
youtube_transcript_api
pytube==15.0.0

# Embeddings + RAG
sentence-transformers
langchain-huggingface
faiss-cpu

# MCP Server
mcp

# Optional / Utilities
numexpr
torch
