streamlit
python-dotenv
validators

# LangChain OLD version (compatible with Streamlit Cloud)
langchain==0.1.20
langchain-community==0.0.28
langchain-core==0.1.52

# Groq LLM support
langchain-groq

# Text splitters & loaders
pypdf
pyMuPDF
bs4
lxml
unstructured

# Web sources
arxiv
wikipedia
duckduckgo_search
youtube_transcript_api
pytube==15.0.0

# RAG Components
sentence-transformers
langchain-huggingface
faiss-cpu

# MCP
mcp

# Optional
numexpr
torch
