streamlit
python-dotenv
validators

langchain
langchain-community
langchain-core
langchain-groq

pypdf
pyMuPDF
bs4
lxml
unstructured
arxiv
wikipedia
duckduckgo_search
youtube_transcript_api
pytube==15.0.0

sentence-transformers
langchain-huggingface
faiss-cpu

mcp
torch
numexpr
